
body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #f8f9fa;
  margin: 0px;
  padding:10px;
  position: sticky;

}

nav a {
  text-decoration: none;
  
}

h1 {
  text-align: center;
}
#home,#contact,#about{
  border: 1px solid blue ;
  margin: 20px;
  border-radius: 10px;
  min-height: 40vh;
  padding: 12px;
  justify-content: justify;
}
nav ul{
  text-decoration:none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  

}
hr,h2{
  margin: 0;
  text-align: center;
}
hr{
  opacity: 50%;
}
header{
  color: #007bff;
  background-color: #f8f9fa;
  position:sticky;
  top:0;
  margin: 0;


}
header:hover{
  color: #f8f9fa;
  background-color: #f8f9fa;
}
nav ul li a:hover,li .link:hover{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #f8f9fa;
  background-color: #007bff;
  padding: 14px;

}
.logo {
  display:flex;
  flex-direction: row; 
  align-items: center;    
  justify-content: center; 
  height: 150px;          
  text-align: center;      
  padding: 20px;  
  background-color:white;        
}
.logo img{
  width: 400px;
  height: auto;
  margin-bottom: 10px;
}
.logo:hover{
  background-color: #f8f9fa;};
